<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="log.path" value="log/" />
    <!--输出到控制台-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date [%thread] %level %logger{25} - %msg%n</pattern>
        </encoder>
    </appender>
    <!--输出info及以下级别到文件-->
    <appender name="file-under-info" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/info_%d{yyyy-MM-dd}_%i.log</fileNamePattern>
            <!-- 单个文件最大-->
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <!--保留日志天数，不包括今天-->
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
            <!--是否在启动的时候删除保留日志天数之前的历史日志-->
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <pattern>%date [%thread] %level %logger{25} - %msg%n</pattern>
        </encoder>
    </appender>
    <!--输出error到文件-->
    <appender name="file-error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/error_%d{yyyy-MM-dd}_%i.log</fileNamePattern>
            <!-- 单个文件最大-->
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <!--保留日志天数，不包括今天-->
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
            <!--是否在启动的时候删除保留日志天数之前的历史日志-->
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <pattern>%date [%thread] %level %logger{25} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <root level="info">
        <appender-ref ref="console" />
        <appender-ref ref="file-under-info" />
        <appender-ref ref="file-error" />
    </root>
</configuration>